.logo {
	display: block;
	margin: 0 auto;
	clear: both;
	padding-top: 112px;
	padding-bottom: 20px;
}

.input {
	width: 450px;
	line-height: 32px;
	padding: 0px 8px;
	display: block;
	margin: 0 auto;
}

.buttons {
	text-align: center;
	padding-top: 30px;
	margin-bottom: 300px;
}

.lucky, .submit {
	color: #757575;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 36px;
	line-height: 27px;
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	min-width: 54px;

}