.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.head-list-item {
	padding: 8px;
	display: inline-block;
	font-size: 14px;
}

.head-list-apps-icon {
	height: 25px;
	width: 25px;
	opacity: 0.5;
	vertical-align: middle;
}

.head-list-apps-icon:hover {
	opacity: 1;
}

.head-list-anchor {
	text-decoration: none;
	color: #29293d;
	
}

.head-list-anchor:hover {
	text-decoration: underline;
}

.head-list-anchor:visited {
	color: #29293d;
}

.foot {
	display: flex;
	align-items: center;
	align-content: space-evenly;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background-color: #f0f0f5;
	border-top: 1px solid #e0e0eb;
}

.foot-left-list {	
	position: fixed;
	left: 20px;
}

.foot-right-list {
	position: fixed;
	right: 20px;
}

.foot-list-item {
	display: inline-block;
	margin: 12px;
	font-size: 15px;
}

.foot-list-anchor {
	text-decoration: none;
	color: #29293d;
	
}

.foot-list-anchor:hover {
	text-decoration: underline;
}

.foot-list-anchor:visited {
	color: #29293d;
}