.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.head-left-list {
	padding: 20px;
}

.head-right-list {
	padding: 20px;
}

.head-list-item {
	padding: 6px;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}

.head-list-apps-icon {
	height: 25px;
	width: 25px;
	opacity: 0.5;
	vertical-align: middle;
}

.head-list-user-icon {
	margin: 2px;
	padding: 2px;
	border-radius: 25px;
	vertical-align: middle;
}

.head-list-apps-icon:hover {
	opacity: 1;
}

.head-list-anchor {
	text-decoration: none;
	color: #29293d;
	
}

.head-list-anchor:hover {
	text-decoration: underline;
}

.head-list-anchor:visited {
	color: #29293d;
}

.main {
	margin-top: 14vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-input-field {
	width: 29em;
	border: 0.1em solid #f0f0f5;
	border-radius: 2em;
	padding: 0.75em;
	font-size: 1em;
	margin: 1.6em;
	text-indent: 8%;
}

.main-input-button {
	margin: 0.3em;
	border: 0.1em solid #f0f0f5;
	border-radius: 0.3em;
	padding: 0.6em 1em 0.6em 1em;
	font-size: .85em;
	color: #353548db;
	background-color: #f0f0f5;
}

.main-input-button:hover {
	border: 0.1em solid #adadb5; 
	color: #29293d;
}

.foot {
	position: fixed;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background-color: #f0f0f5;
	border-top: 1px solid #e0e0eb;
}

.foot-left-list {	
	position: fixed;
	left: 20px;
}

.foot-right-list {
	position: fixed;
	right: 20px;
}

.foot-list-item {
	display: inline-block;
	padding: 12px;
	font-size: 15px;
}

.foot-list-anchor {
	text-decoration: none;
	color: #29293d;
	
}

.foot-list-anchor:hover {
	text-decoration: underline;
}

.foot-list-anchor:visited {
	color: #29293d;
}